:root {
  --main-gray: rgb(226 226 226);
  --main-green: #3CB57A;
  --main-green-hover: #329d69;
}

body {
  font-family: "Almarai", sans-serif;
  overflow-x: hidden;
}

.main-header {
  background-image: url(../assets/images/header-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-attachment: fixed;
}

.btn-green {
  background-color: var(--main-green);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 13px 20px;
  font-size: 14px;
}

.btn-green:hover {
  background-color: var(--main-green-hover);
  color: white;
}

.nav-bar {
  min-width: 90%;
  margin: 0 auto;
}

.nav-link {
  font-size: 18px !important;
  color: black;
}

.nav-link:hover,
.active {
  color: var(--main-green) !important;
  font-weight: bold;
}

p {
  font-size: large;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.img-store {
  width: 200px;
}


.fixed-right {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 1000;
}

.noise-leaf {
  width: 10%;
}

@media (max-width: 1505px) {
  .noise-leaf {
    width: 7%;
  }
}

@media (max-width: 478px) {
  .noise-leaf {
    display: none;
  }
}

@media (max-width: 425px) {
  .img-store {
    width: 40%;
  }
}

.text-wrap {
  white-space: normal;
  display: block;
  width: 100%;
}

.green-container {
  position: absolute;
  bottom: -310px;
  background-color: var(--main-green);
  z-index: 1;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 81.1px 2px rgba(0, 0, 0, 0.2);
}

.main-header {
  position: relative;
  z-index: 2;
}

.vertical-line {
  border-left: 2px solid white;
  height: 200px;
  opacity: 0.5;
  margin: 0 auto;
}

.green-container h2,
.green-container h5 {
  color: white;
  font-weight: bold;
}

.green-container p {
  color: white;
}

.features {
  margin-top: 50vh;
}

.stories {
  margin-top: 10vh;
}


#carousel {
  height: 600px;
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
  opacity: 1;
}

#item_1,
#item_2,
#item_3,
#item_4,
#item_5,
#item_6,
#item_7,
#item_8 {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.1);
}

.fcard {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  height: 500px !important;
}

#carousel div.hideLeft {
  left: -3%;
  top: 10%;
  transform: translateY(50%) translateX(-50%);
  width: 23vw;
  height: 23vw;
  opacity: 0;
}

#carousel div.hideRight {
  left: 100%;
  transform: translateY(50%) translateX(-50%);
  width: 23vw;
  height: 23vw;
  opacity: 0;
}

#carousel div.prev {
  left: 21%;
  top: 10%;
  transform: translateY(50px) translateX(-50%);
  width: 23vw;
  height: 23vw;
}

#carousel div.prevLeftSecond {
  left: -3%;
  top: 10%;
  transform: translateY(50%) translateX(-50%);
  width: 23vw;
  height: 23vw;
}

#carousel div.selected {
  left: 48.6%;
  top: 10px;
  transform: translateY(0px) translateX(-50%);
  width: 30vw;
  height: 30vw;
}

#carousel div.next {
  left: 76.7%;
  top: 10%;
  transform: translateY(50px) translateX(-50%);
  width: 24vw;
  height: 24vw;
}

#carousel div.nextRightSecond {
  left: 101.8%;
  top: 10%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  width: 24vw;
  height: 24vw;
}


.buttons {
  width: 70%;
  margin: auto;
}

a {
  color: var(--main-green);
}

.circle-btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.circle-btn i {
  font-size: 30px;
  color: white;
}

.right-content {
  padding-right: 8vw;
}

.slider-description {
  margin-top: 5px;
  width: 80%;
}

.card__article {
  border: 0.5px solid rgb(226 226 226);
  border-radius: 20px;
}

.card__data {
  padding: 20px;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-green) !important;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}

.card__img {
  width: 100%;
  height: 360px;
  border-radius: 20px;
}

.card__line {
  border: 0.5px solid rgb(226 226 226);
}

.card__icon {
  margin-left: 10px;
}

.rating__bar {
  color: #BDBDBD;
  font-size: 25px;
}

.star-checked {
  color: orange;
}

.card__description {
  color: black;
  opacity: 0.6;
}

.form-container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border: 0.5px solid rgb(226 226 226);
  border-radius: 20px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

.form-container p {
  font-size: 16px;
  color: black;
  text-align: center;
}

.my-btn:hover {
  background-color: var(--main-green-hover);
  color: #fff;
}

.form-control {
  padding: 15px 10px;
  border-radius: 15px;
}

.my-btn {
  background-color: var(--main-green);
  color: #fff;
  font-weight: bold;
  padding: 16px 24px;
  border-radius: 15px;
}

.footer {
  background-color: var(--main-green);
  color: white;
  padding: 40px 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .social-icons img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.footer hr {
  border: 1px solid white;
  opacity: .7;
}

.footer p {
  margin: 0;
}

.footer h4 {
  padding-bottom: 10px;
}

.list-unstyled {
  padding-right: 0;
}

.footer li,
.footer p {
  padding: 5px 0;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: transform 0.5s ease;
}

@media (max-width: 1398px) {
  .green-container {
    bottom: -370px;
  }
}

@media (max-width: 1069px) {
  .green-container {
    bottom: -400px;
  }
}

@media (max-width: 991px) {
  .main-header {
    background-size: auto;
    height: 620px;
  }
}



@media (max-width: 1110px) {
  #carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 20%;
  }

  #carousel div {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 1;
  }

  #carousel div.hideLeft,
  #carousel div.hideRight,
  #carousel div.prev,
  #carousel div.prevLeftSecond,
  #carousel div.next,
  #carousel div.nextRightSecond {
    display: none;
  }

  #carousel div.selected {
    width: 100%;
    height: 90%;
    margin-top: 10px;
  }

  .buttons {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 778px) {

  .green-container {
    bottom: -320px;
  }

  .green-container h2 {
    font-size: 20px;
  }

  .green-container h5 {
    font-size: 18px;
  }

  .green-container p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .main-header {
    background-size: auto;
    height: 1000px;
  }
}

@media (max-width: 576px) {
  .green-container {
    bottom: -450px;
    width: 95%;
  }

  .features {
    margin-top: 70vh;
  }
}

@media (max-width: 430px) {
  .right-content {
    padding-right: calc(var(--bs-gutter-x) * .5);
  }

  .img-store {
    width: 80%;
  }

  #carousel {
    padding: 0 10%;
  }

  .logo img {
    height: 70px;
  }
}

@media (max-width: 383px) {
  .logo img {
    height: 60px;
  }
}

@media (max-width: 321px) {
  .logo img {
    height: 50px;
  }

  .btn-green {
    padding: 10px 8px;
  }
  p {
    font-size: medium;
  }
}

.offcanvas-body ul.navbar-nav {
  gap: 10px;
}

.mobile-navbar-logo {
  width: 120px;
}

.mobile-nav-link {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  font-size: 18px !important;
  color: black;
}

.mobile-nav-link:hover {
  color: var(--main-green-hover);
  opacity: 1;
}

.btn-burger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.content {
  width: 90%;
  margin: auto;
}

.floating-icons {
  position: fixed;
  bottom: 17%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 100%;
}

.whatsapp-icon {
  position: absolute;
  right: 5%;
  animation: bounce 2s infinite;
}

.snapchat-icon {
  position: absolute;
  left: 5%;
  animation: bounce 2s infinite;
}

.whatsapp-icon img,
.snapchat-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-icon img:hover,
.snapchat-icon img:hover {
  transform: scale(1.1);
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.offcanvas {
  width: 100% !important;
}

.offcanvas-header {
  padding: 0;
}

.offcanvas-header .btn-close {
  margin: 17px -3px 17px 0;
  --bs-btn-close-opacity: 1;
}

.separator {
  background-color: #e0e3eb;
  flex-shrink: 0;
  height: 1px;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky .logo {
  height: 100px;
  align-content: center;
}

.sticky .logo a img {
  height: 50px;
}

.modal {
  --bs-modal-width: 80% !important;
  --bs-border-radius-lg: 1rem;
  --bs-modal-padding: 2rem;
}

.modal-body {
  width: 80%;
  margin: auto;
}

.bubble-r-box {
  position: relative;
  width: 100%;
  height: 55px;
  margin: 40px auto;
}

.bubble-r-box input {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 10px;
  left: 0;
  box-sizing: border-box;
  z-index: 3;
  border: 1.5px solid rgb(173 170 170);
  background: rgb(252, 252, 252);
  border-radius: 15px;
  font-weight: 500;
  padding: 35px;
  outline: none;
  text-align: right;
}

.bubble-element.Text {
  position: absolute;
  top: 0;
  right: 35px;
  z-index: 4;
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  color: black;
  padding: 0 5px;
  line-height: 1.4;
  white-space: nowrap;
}

.input-group-btn {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 45%;
}

.fi {
  border-radius: 3px;
  font-size: 25px!important;
}

.btn-cc {
  font-size: 16px;
}

.btn {
  border: none;
}

.dropdown-menu {
  padding: 10px;
}

.input-group-btn i {
  font-style: normal;
}

.input-group-btn a {
  text-decoration: none;
  color: black;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .modal-body {
    width: 100%;
  }
}

#otp-input {
  display: flex;
  column-gap: 8px;
}

#otp-input input {
  text-align: center;
  padding: 10px 8px 10px 8px;
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  height: 64px;
  width: 50px;
}

#otp-input input:focus {
  border: 1px solid #497e76;
}

#otp-input input:focus::placeholder {
  color: transparent;
}

#otp-input input::-webkit-outer-spin-button,
#otp-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#otp-input input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


@media screen and (max-width: 321px) {
  #otp-input input {
    height: 42px;
    width: 33px;
  }

  #otp-next {
    width: 50%!important;
  }
}

@media screen and (max-width: 425px) {
  #otp-input input {
    height: 52px;
    width: 41px;
  }
}

@media (min-width: 768px) {
  .not-recived {
      width: 40% !important;
  }
}