body {
    font-family: "Almarai", sans-serif;
}

header {
    background-image: url(../assets/images/header-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 90vh;
    width: 100%;
    background-attachment: fixed;
}

.btn-green {
    background-color: #3CB57A;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 14px;
}

.nav-bar {
  width: 90%;
  margin: auto;
}

.nav-link {
    font-size: 18px !important;
    color: black;
}

.nav-link:hover, .active {
    color: #3CB57A !important;
    font-weight: bold;
}

p {
    font-size: large;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.8;
}

.img-store {
    width: 200px;
}


.fixed-right {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 1000;
}

.noise-leaf  {
    width: 10%;
}  

@media (max-width: 1505px) {
    .noise-leaf {
        width: 7%;
    }
}

@media (max-width: 478px) {
    .noise-leaf {
        display: none;
    }
}

@media (max-width: 425px) {
    .img-store {
        width: 40%;
    }
}

.green-container {
    position: absolute;
    bottom: -250px;
    background-color: #3CB57A;
    z-index: 1;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 81.1px 2px rgba(0, 0, 0, 0.2);
}

.main-header {
    position: relative;
    z-index: 2;
}

.vertical-line {
    border-left: 2px solid white;
    height: 200px;
    opacity: 0.5;
    margin: 0 auto;
}

.green-container h2, .green-container h5 {
    color: white;
    font-weight: bold;
}

.green-container p {
    color: white;
}

.features {
    margin-top: 50vh;
}


#carousel {
    height: 600px;
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
    opacity: 1;
  }

  #item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #item_8 {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.1);
  }
  #carousel div.hideLeft {
    left: -3%;
    top: 10%;
    transform: translateY(50%) translateX(-50%);
    width: 23vw;
    height: 23vw;
    opacity: 0;
  }
  #carousel div.hideRight {
    left: 100%;
    transform: translateY(50%) translateX(-50%);
    width: 23vw;
    height: 23vw;
    opacity: 0;
  }
  #carousel div.prev {
    z-index: 5;
    left: 21%;
    top: 10%;
    transform: translateY(50px) translateX(-50%);
    width: 23vw;
    height: 23vw;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: -3%;
    top: 10%;
    transform: translateY(50%) translateX(-50%);
    width: 23vw;
    height: 23vw;
  }
  #carousel div.selected {
    z-index: 10;
    left: 48.6%;
    top: 10px;
    transform: translateY(0px) translateX(-50%);
    width: 30vw;
    height: 30vw;
  }
  #carousel div.next {
    z-index: 5;
    left: 76.7%;
    top: 10%;
    transform: translateY(50px) translateX(-50%);
    width: 24vw;
    height: 24vw;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 101.8%;
    top: 10%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
    width: 24vw;
    height: 24vw;
  }
  
  /*previous or next buttons css*/
  
  .buttons {
    width: 70%;
    margin: auto;
  }

  a {
    color: #3CB57A;
  }

  .circle-btn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #3CB57A;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .circle-btn i {
    font-size: 30px;
    color: white;
  }

  .right-content {
    padding-right: 8vw;
  }

  .slider-description {
    margin-top: 5px;
    width: 80%;
  }